[user]
    name = Lucas Moreno Silva
    email = lucasmorenosilva@gmail.com
    signingkey = ~/.ssh/id_rsa

[pager]
    branch = false

[core]
    pager = delta
    excludesfile = ~/.gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[pull]
    rebase = true
[gpg]
    format = ssh
[commit]
    gpgsign = true
